body {

  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.left-container {
  position: absolute;
  top: 25%;
  left: 10%;
}

.slogan-details {
  width: 40%;
}

.btn-left-container {
  margin: 0.8rem;
}

.btn-left-container button {
  padding: 0.5rem;
  margin-left: 0.5rem;
  width: 8rem;
}

.btn-left-container .show-now {
  background-color: #d01c28;
  border: #d01c28;
  font-size: 1rem;
  font-weight: 700;
}

.btn-left-container .category {
  border: #2e2e2e;
  font-size: 1rem;
  color: #2e2e2e;
  font-weight: 700;
}

.slogan {
  font-size: 3rem;
  width: 25vw;
}

.avaliable {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.avaliable img {
  width: 2%;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.right-container {
  position: absolute;
  left: 55%;
  top: 15%;
}